#Nom{
    position: relative;
    top: 50%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: 900;
    font-size: 500%;
    color: #0d3b66;
}

p{
    animation-duration: 3s;
    animation-name: glissement;
}
@keyframes glissement {
    from {
      margin-left: 50%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

img{
    position: absolute;
    top: 16%;
    left: 40%;
}
.titre{
    animation-duration: 1s;
    animation-name: glissement;
    margin-top: 5%;
    font-size: 200%;
    font-family: 'Cinzel', serif;
    color: #155EA2;
}
.mission{
    font-size: 100%;
    font-family: 'Cinzel', serif;
    color: #1C7ED9;
}
body{
    text-align: center;
}
footer{
    position: relative;
    text-align: center;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    resize : none;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    size: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
    position: sticky;
    top: 10px;
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #0d3b66; /* Add a green color to the "active/current" link */
    color: white;
  }